<mat-card>
    <mat-card-title>What do you know about Guitars and Punk?</mat-card-title>
    <mat-card-subtitle>Click an image below</mat-card-subtitle>

    <a routerLink='/guitars' class='quiz-btn'>
        <img mat-card-lg-image src="https://peteglantingdraws.files.wordpress.com/2015/06/ape-guitar.jpeg?w=584&h=699">
    </a>

    <a routerLink='/punk' class='quiz-btn'>
        <img mat-card-lg-image
            src="https://www.uni-muenchen.de/informationen_fuer/presse/bilder/startseitenmeldung/2016/punks_535.png">
    </a>

</mat-card>